<link href="/3rdparty/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
<style>
.device-icon.battery {
    background-image: none;
    padding: 5px;
    font-size:25px;
    text-align: center;
}

</style>
<div class='device-widget sensor %.alive|"offline;online"%' onclick="var url=('/pChart/?p[]=%.object_title%'+'.value&n[]=Заряд&p[]=%.object_title%'+'.valueVoltage&n[]=Напряжение&op=log&subop=24h&minimal=1');$.fancybox.open({ src: url, type: 'iframe' });return false;">
<div class="device-icon battery">
    <i class="fa fa-%.icon% fa-rotate-270" style="color:%.color%"></i> 
</div>
<div class="device-header">%.value% %
    %.valueVoltage% V
</div>
<div class="device-details">%.object_description%</div>
</div>